extend default

block content
	h1 #{doc.title}
	br
	
	.panel(class="panel-primary")
		.panel-heading Autor: #{doc.reporter}
		.panel-body #{doc.description}
	br

	if(doc.comments != undefined)
		h2 Komentarze:
		each com in doc.comments
			.panel(class="panel-success")
				.panel-heading Autor: #{com.name}
				.panel-body #{com.comment}
		br
		br
	else
		br
	h2 Dodaj komentarz:
	form(name="add-idea", method="post", action="/comment")
		.form-group
			label(for='name') Imię i nazwisko:
			input(name='name', type='text', value='', id='name', class='form-control')
		.form-group
			label(for='description') Komentarz:
			textarea(name='comment', value='', id='comment', class='form-control', rows='5')
		.form-group
			input(name='id', type='hidden', value="#{doc._id}", id='id', class='form-control')
		input(type="submit", value="Dodaj", class="btn btn-primary")
